

body {
    font-family: Arial, sans-serif;
    background-color: #212529;
    color: #fff;

}

.text-yellow-50 {
  color: #fefce8;
}

.text-yellow-100 {
  color: #fef9c3;
}

.text-yellow-200 {
  color: #fef08a;
}

.text-yellow-300 {
  color: #fde047;
}

.text-yellow-400 {
  color: #facc15;
}

.text-yellow-500 {
  color: #eab308;
}

.text-yellow-600 {
  color: #ca8a04;
}

.text-yellow-700 {
  color: #a16207;
}

.text-yellow-800 {
  color: #854d0e;
}

.text-yellow-900 {
  color: #713f12;
}

.text-yellow-950 {
  color: #422006;
}

.bg-gray-50 {
  background-color: #f9fafb;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.bg-gray-300 {
  background-color: #d1d5db;
}

.bg-gray-400 {
  background-color: #9ca3af;
}

.bg-gray-500 {
  background-color: #6b7280;
}

.bg-gray-600 {
  background-color: #4b5563;
}

.bg-gray-700 {
  background-color: #374151;
}

.bg-gray-800 {
  background-color: #1f2937;
}

.bg-gray-900 {
  background-color: #111827;
}

.bg-gray-950 {
  background-color: #030712;
}



/*
.container {
    background-color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

p {
    color: #ccc;
}

.button {

    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .button:hover {
        background-color: #0056b3;
    }

.footer {

    text-align: center;
    color: #ccc;
}*/